<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%>-happymmall</title>
    
</head>

<body>
    <%= require('html-loader!./layout/m-nav.html') %>
    <%= require('html-loader!./layout/m-header.html') %>
    <div class="page-wrap g-w">
            <%= require('html-loader!./layout/m-nav-side.html') %>
            <div class="m-content with-nav">content</div> 
    </div>

    
    <%= require('html-loader!./layout/m-footer.html') %>
</body>

</html>