/*
 * @Author: like 
 * @Date: 2017-09-01 20:05:43 
 * @Last Modified by: like
 * @Last Modified time: 2017-09-01 20:30:10
 */
 /*通用头部导航*/
.m-header .logo{
    position: absolute;
    top: 34px;
    left: 60px;
    display: block;
    font-size: 36px;
    font-weight: bold;
    color: #c60023;
}
.m-header .search-con{
    padding: 40px 0 30px 250px;
} 

.m-header .search-con .search-input{
    width: 550px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    outline: none;
    border: 2px solid #c60023;
}
.m-header .search-con .search-btn{
    position: absolute;
    height: 44px;
    width: 80px;
}