<div class="m-nav">
    <div class="g-w">
        <div class="user-info">
            <span class="user not-login">
                <span class="u-link js-login">登录</span>
                <span class="u-link js-register">注册</span>
            </span>
            <span class="user is-login">
                <span class="u-link">欢迎：<span class="username"></span></span>
            <span class="u-link js-logout">退出</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="./cart.html" class="u-link">
                <i class="fa fa-shopping-cart"></i>
                购物车(<span class="cart-count">0</span>)</a>
            </li>
            <li class="nav-item">
                <a href="./order-list.html" class="u-link">我的订单</a>
            </li>
            <li class="nav-item">
                <a href="./user-center.html" class="u-link">我的MMALL</a>
            </li>
            <li class="nav-item">
                <a href="./about.html" class="u-link">关于MMALL</a>
            </li>
        </ul>
    </div>
</div>