/*
 * @Author: like 
 * @Date: 2017-08-31 15:22:17 
 * @Last Modified by: like
 * @Last Modified time: 2017-09-01 20:18:12
 */
 /*css reset*/
 *{
     margin: 0;
     padding: 0;
 }
body{
    min-width: 1080px;
    background-color: #f6f6f6;
    font: 12px/1.5 tahoma,arial,Microsoft YaHei,sans-serif;
}
li{
    list-style: none;
}
img{
    display: block;
    border: none;
}
label{
    cursor: pointer;
}
input[type='checkbox']{
    cursor: pointer;
}
a{
    text-decoration: none;
}
/* 定宽布局 */
.g-w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.g-large .g-w{
    width: 1600px;
}
/*全局通用样式*/
/*隐藏类*/
.g-hidden{
    display: none;
}
/*超链接样式*/
.u-link{
    color: #999;
    cursor: pointer;
}
.u-link:hover{
color: #c60023;
}
.u-link-text{
    color: #999;
}
.u-btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background-color:#c60023;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.u-btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
.u-loading{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top:100px;
    position: relative;
    border:5px solid lightgreen;
    -webkit-animation: turn 2s linear infinite;
}
.u-loading span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: lightgreen;
    position: absolute;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    -webkit-animation: changeBgColor 2s linear infinite;
}
@-webkit-keyframes changeBgColor{
    0%{
        background: lightgreen;
    }
    100%{
        background: lightblue;
    }
}
@-webkit-keyframes turn{
    0%{
        -webkit-transform: rotate(0deg);
        border-color: lightgreen;
    }
    100%{
        -webkit-transform: rotate(360deg);
        border-color: lightblue;
    }
}